Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lefthook.yml:

# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx,mjs,cjs,mts,cts}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: package.json
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'
    cspell:
      run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}
      glob: '*.{ts,tsx,md}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

feat(@sinopec-kb/client): ✨ add fullscreen toggle + preferences entry to LayoutHeader
  apps/client/src/layouts/components/LayoutHeader.vue
Due: lint-vue

fix(@sinopec-kb/client): 🐛 address PreferencesDrawer review HIGH issues
  apps/client/src/layouts/components/PreferencesDrawer.vue
Due: lint-vue

feat(@sinopec-kb/server): ✨ split swagger into per-module specs + full spec switcher
  apps/server/src/app-routes.ts
  apps/server/src/app.module.ts
  apps/server/src/common/bootstrap/swagger.setup.ts
  apps/server/src/common/utils/stabilize-openapi.ts
  apps/server/src/metadata.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ consume per-module openapi specs (tree-shake friendly)
  apps/client/package.json
  apps/client/src/api/assistant.ts
  apps/client/src/api/knowledgeBase.ts
  apps/client/src/api/monitor/health.ts
  apps/client/src/api/monitor/info.ts
  apps/client/src/api/monitor/loginlog.ts
  apps/client/src/api/monitor/operationlog.ts
  apps/client/src/api/system/dept.ts
  apps/client/src/api/system/dict.ts
  apps/client/src/api/system/menu.ts
  apps/client/src/api/system/post.ts
  apps/client/src/api/system/role.ts
  apps/client/src/api/system/user.ts
  apps/client/src/utils/request.ts
  apps/client/types/openapi-assistant.d.ts
  apps/client/types/openapi-auth.d.ts
  apps/client/types/openapi-knowledge-base.d.ts
  apps/client/types/openapi-monitor.d.ts
  apps/client/types/openapi-system.d.ts
  apps/client/types/openapi.d.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ resolve assistant default model from RAGFlow llm list
  .changeset/configurable-assistant-default-model.md
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
  cspell.json
Due: lint-md, lint-js, cspell

style(@sinopec-kb/server): 💄 sort AssistantService.resolveDefaultModel position per eslint
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-js, cspell

fix(deploy): 🐛 use Tsinghua Alpine mirror to unblock apk add in China
  Dockerfile
Due: none

docs: 📝 add chunk-tagger service design spec
  docs/superpowers/specs/2026-06-06-chunk-tagger-service-design.md
Due: lint-md, cspell

docs: 📝 revise chunk-tagger spec per adversarial review
  docs/superpowers/specs/2026-06-06-chunk-tagger-service-design.md
Due: lint-md, cspell

docs: 📝 fix spec D5: p-limit@7 is ESM-only, use processBatch
  docs/superpowers/specs/2026-06-06-chunk-tagger-service-design.md
Due: lint-md, cspell

docs: 📝 add chunk-tagger Plan 1 implementation plan
  docs/superpowers/plans/2026-06-06-chunk-tagger-plan1-core.md
Due: lint-md, cspell

chore(@sinopec-kb/server): 🔨 move chunk-tagger dataset into src + configure nest assets
  apps/server/nest-cli.json
  apps/server/src/common/chunk-tagger/dataset/sinopec-concept-dict.csv
  apps/server/src/common/chunk-tagger/dataset/sinopec-regex-catalog.json
Due: none

docs: 📝 add chunk-tagger progress handoff for cross-session resume
  docs/superpowers/plans/2026-06-06-chunk-tagger-PROGRESS.md
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ add chunk-tagger keyword-matcher pure functions
  apps/server/src/common/chunk-tagger/keyword-matcher.spec.ts
  apps/server/src/common/chunk-tagger/keyword-matcher.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ add chunk-tagger constants + matcher token
  apps/server/src/common/chunk-tagger/chunk-tagger.constants.ts
  turbo.json
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ add ChunkTaggerService.tagDocument
  apps/server/src/common/chunk-tagger/chunk-tagger.service.spec.ts
  apps/server/src/common/chunk-tagger/chunk-tagger.service.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ wire ChunkTaggerModule
  apps/server/src/common/chunk-tagger/chunk-tagger.module.ts
Due: lint-js, cspell

refactor(@sinopec-kb/server): ♻️ eval chunk-tagger reuses common keyword-matcher
  apps/server/scripts/eval/chunk-tagger.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 chunk-tagger 分页在 total 缺失时不静默截断
  apps/server/src/common/chunk-tagger/chunk-tagger.service.spec.ts
  apps/server/src/common/chunk-tagger/chunk-tagger.service.ts
Due: lint-js, cspell

docs: 📝 mark chunk-tagger Plan 1 complete + record follow-ups
  docs/superpowers/plans/2026-06-06-chunk-tagger-PROGRESS.md
  docs/superpowers/plans/2026-06-06-chunk-tagger-plan1-core.md
Due: lint-md, cspell

docs: 📝 add chunk-tagger Plan 2 implementation plan (queue + poll + backfill)
  docs/superpowers/plans/2026-06-06-chunk-tagger-PROGRESS.md
  docs/superpowers/plans/2026-06-07-chunk-tagger-plan2-queue.md
Due: lint-md, cspell

docs: 📝 revise chunk-tagger Plan 2 per review (transient-failure guard, pagination, auth dedup)
  docs/superpowers/plans/2026-06-07-chunk-tagger-plan2-queue.md
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ add chunk-tag poll/timeout/RUN constants
  apps/server/src/common/chunk-tagger/chunk-tagger.constants.ts
  cspell.json
  turbo.json
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ add ChunkTagStore cache-manager pending store
  apps/server/src/common/chunk-tagger/chunk-tag-store.spec.ts
  apps/server/src/common/chunk-tagger/chunk-tag-store.ts
Due: lint-js, cspell

docs: 📝 record chunk-tagger Plan 2 progress (Task 1-2 done, resume from Task 3)
  docs/superpowers/plans/2026-06-06-chunk-tagger-PROGRESS.md
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ wire ChunkTagStore + queue into ChunkTaggerModule
  apps/server/src/common/chunk-tagger/chunk-tagger.module.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ enqueue chunk-tag after parse trigger
  apps/server/src/modules/knowledge-base/knowledge-base.service.spec.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 re-navigate after permission init so sidebar menu renders on first login
  .changeset/fix-login-menu-render.md
  apps/client/src/layouts/components/widgets/search/search-panel.vue
  apps/client/src/router/permissionGuard.ts
Due: lint-md, lint-vue, lint-js, cspell

feat(@sinopec-kb/server): ✨ add admin backfill + keyword-tag-status endpoints
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.spec.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-js, cspell

docs: 📝 add retrieval-replay tool spec + plan
  docs/superpowers/plans/2026-06-16-retrieval-replay-tool.md
  docs/superpowers/specs/2026-06-16-retrieval-replay-design.md
Due: lint-md, cspell

test(@sinopec-kb/server): ✅ add retrieval-replay lib skeleton + parseIdList
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add buildReplayBody
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add mapChunk with field-alias fallback
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add truncateContent + isGoldDoc
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add aggregateDocs
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add renderQuestionSection + renderReport
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add retrieval-replay main script
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 fix eslint-disable header and import order in retrieval-replay.ts
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 fix import order in retrieval-replay.ts
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 fail-fast on invalid --k + document doc_aggs self-aggregation
  apps/server/scripts/eval/retrieval-replay.lib.ts
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell
