Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

cspell:
  run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}

test(@sinopec-kb/client): ✅ make e2e action timeout configurable
  apps/client/playwright.prod.config.ts
  turbo.json
Due: lint-js, cspell

style(@sinopec-kb/client): 🎨 apply prettier formatting
  apps/client/src/composables/useChat.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 track chat session ownership locally
  apps/server/prisma/migrations/20260830084329_add_assistant_session_ownership/migration.sql
  apps/server/prisma/models/assistant.prisma
  apps/server/prisma/models/assistantSession.prisma
  apps/server/prisma/models/user.prisma
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/test-utils/common.mock.ts
Due: lint-js, cspell

ci: 👷 deploy via GHCR instead of image save/load
  .github/workflows/deploy.yml
Due: none

ci: 👷 trigger on feature branch and log in to GHCR on target
  .github/workflows/deploy.yml
Due: none

fix(@sinopec-kb/server): 🐛 cap session page size at RAGFlow's limit
  .github/workflows/deploy.yml
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-js, cspell

test(@sinopec-kb/client): ✅ switch e2e corpus and question set by env
  apps/client/.env.example
  apps/client/e2e/_batch.ts
  apps/client/e2e/chat-eval-all-questions.spec.ts
  apps/client/e2e/fixtures/.gitignore
  apps/client/e2e/fixtures/README.md
  apps/client/e2e/kb-bge-large-fullstack.spec.ts
  apps/client/e2e/kb-manual-comparison.spec.ts
  apps/client/e2e/probe-kb-form.spec.ts
  apps/client/e2e/vue.spec.ts
  turbo.json
Due: lint-md, lint-js, cspell

refactor(@sinopec-kb/server): ♻️ unify eval question importers into one
  apps/server/scripts/eval/dataset/questions-0820.json
  apps/server/scripts/eval/import-questions-0520.ts
  apps/server/scripts/eval/import-questions.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ fix 16 failing specs and cover two gaps
  apps/server/src/modules/system/menu/menu.service.spec.ts
  apps/server/src/modules/system/user/user.service.spec.ts
Due: lint-js, cspell

ci: 👷 disable auto-trigger until registry is switched
  .github/workflows/deploy.yml
Due: none

ci: 👷 build on target host instead of shipping images
  .github/workflows/deploy.yml
Due: none

test(@sinopec-kb/client): ✅ stop e2e from overriding the tuned chunk size
  apps/client/.env.example
  apps/client/e2e/_batch.ts
  apps/client/e2e/kb-bge-large-fullstack.spec.ts
  turbo.json
Due: lint-js, cspell

docs(project): 📝 document the single-host docker compose deployment
  CLAUDE.md
Due: lint-md, cspell

style(project): 🎨 apply prettier formatting to CLAUDE.md
  CLAUDE.md
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ enable rerank and raise default top_n to 30
  apps/server/prisma/migrations/20260831130749_add_assistant_rerank_id/migration.sql
  apps/server/prisma/models/assistant.prisma
  apps/server/src/common/config/env.validation.ts
  apps/server/src/common/defaults/assistant.defaults.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.entity.ts
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
  cspell.json
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 stop regex backtracking from inventing must-contain numbers
  apps/server/scripts/eval/dataset/questions-0820.json
  apps/server/scripts/eval/import-questions.ts
  apps/server/scripts/eval/run-via-server.ts
Due: lint-js, cspell

test(@sinopec-kb/client): ✅ allow picking the eval assistant by name
  apps/client/e2e/chat-eval-all-questions.spec.ts
  turbo.json
Due: lint-js, cspell

docs(project): 📝 add july/august reports and the supply-chain incident report
  docs/monthly-report-2026-07.md
  docs/monthly-report-2026-08.md
  docs/ragflow-supply-chain-incident-report-2026-08.md
Due: lint-md, cspell

feat(@sinopec-kb/client): ✨ add a rerank model picker to assistant settings
  apps/client/src/composables/useLlmOptions.ts
  apps/client/src/locales/langs/en-US/page/assistant.json
  apps/client/src/locales/langs/zh-CN/page/assistant.json
  apps/client/src/views/assistant/chat/[id].page.vue
Due: lint-vue, lint-js, cspell

fix(@sinopec-kb/server): 🐛 turn off frequency_penalty to stop answer degeneration
  apps/server/scripts/eval/run.ts
  apps/server/src/common/defaults/assistant.defaults.spec.ts
  apps/server/src/common/defaults/assistant.defaults.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 stop the eval runner from wiping live assistant config
  apps/server/scripts/eval/configs/0820-512-topn30-rerank-fp0.json
  apps/server/scripts/eval/run.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 stop the eval metrics from understating retrieval and answers
  apps/server/scripts/eval/configs/0820-512-topn30-rerank-fp0.json
  apps/server/scripts/eval/run.ts
  apps/server/scripts/eval/scoring.spec.ts
  apps/server/scripts/eval/scoring.ts
  docs/rag-optimization-log.md
Due: lint-md, lint-js, cspell

feat(@sinopec-kb/server): ✨ teach the assistant prompt to refuse, enumerate and answer every sub-question
  apps/server/scripts/eval/scoring.spec.ts
  apps/server/scripts/eval/scoring.ts
  apps/server/src/common/defaults/assistant.defaults.ts
  docs/rag-optimization-log.md
Due: lint-md, lint-js, cspell

feat(@sinopec-kb/server): ✨ make every figure carry its unit, and score 点 as 个
  apps/server/scripts/eval/dataset/questions-all82.json
  apps/server/scripts/eval/scoring.spec.ts
  apps/server/scripts/eval/scoring.ts
  apps/server/src/common/defaults/assistant.defaults.ts
  docs/rag-optimization-log.md
Due: lint-md, lint-js, cspell

feat(@sinopec-kb/server): ✨ widen the rerank candidate pool past RAGFlow's default 64
  apps/server/scripts/eval/run.ts
  apps/server/scripts/eval/scoring.spec.ts
  apps/server/src/common/defaults/assistant.defaults.ts
  apps/server/src/modules/assistant/assistant.service.ts
  docs/rag-optimization-log.md
  turbo.json
Due: lint-md, lint-js, cspell

docs(project): 📝 record that compressing the prompt buys nothing measurable
  docs/rag-optimization-log.md
Due: lint-md, cspell

fix(@sinopec-kb/server): 🐛 stop a saved assistant edit from reviving the decoding collapse
  apps/server/prisma/migrations/20260907010740_reset_assistant_frequency_penalty_default/migration.sql
  apps/server/prisma/models/assistant.prisma
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 score answers against what the question asks, not just its numbers
  apps/server/scripts/eval/dataset/questions-0520.json
  apps/server/scripts/eval/dataset/questions-0820.json
  apps/server/scripts/eval/dataset/questions-all82.json
  apps/server/scripts/eval/dataset/questions.json
  apps/server/scripts/eval/import-questions.ts
  apps/server/scripts/eval/judge-rubric.ts
Due: lint-js, cspell

docs(project): 📝 record the embedding selection and what the eval ruler was hiding
  docs/rag-optimization-log.md
Due: lint-md, cspell

style(@sinopec-kb/server): 🎨 apply import grouping to import-questions
  apps/server/scripts/eval/import-questions.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): add chunk retrieval coverage metric
  apps/server/scripts/eval/run.ts
  apps/server/scripts/eval/scoring.spec.ts
  apps/server/scripts/eval/scoring.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ register the front portal pages as menus
  apps/server/prisma/migrations/20260928070000_add_front_portal_menus/migration.sql
  apps/server/src/modules/seed/seed.data.spec.ts
  apps/server/src/modules/seed/seed.data.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ add the front portal and knowledge base q&a page
  apps/client/src/components/chat/ChatPanel.vue
  apps/client/src/components/common/ExportActions.vue
  apps/client/src/config/constants/app.ts
  apps/client/src/layouts/components/LayoutHeader.vue
  apps/client/src/layouts/components/LayoutSidebar.vue
  apps/client/src/layouts/front.vue
  apps/client/src/locales/langs/en-US/common.json
  apps/client/src/locales/langs/en-US/page/portal.json
  apps/client/src/locales/langs/zh-CN/common.json
  apps/client/src/locales/langs/zh-CN/page/portal.json
  apps/client/src/utils/chat-markdown.spec.ts
  apps/client/src/utils/chat-markdown.ts
  apps/client/src/views/index.page.vue
  apps/client/src/views/portal/index.page.vue
  apps/client/src/views/qa/index.page.vue
  apps/client/types/components.d.ts
  apps/client/types/typed-router.d.ts
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/server): ✨ limit common role to front pages and add general-chat role
  apps/server/prisma/migrations/20261006000000_scope_common_role_add_general_chat_role/migration.sql
  apps/server/src/modules/seed/seed.data.spec.ts
  apps/server/src/modules/seed/seed.data.ts
  apps/server/src/modules/seed/seed.service.ts
Due: lint-js, cspell

style(@sinopec-kb/server): 🎨 sort seed service methods per lint rule
  apps/server/src/modules/seed/seed.service.ts
Due: lint-js, cspell

ci(project): 👷 add on-host deploy script for the app
  scripts/deploy.sh
Due: none

ci(project): 👷 make image build mirrors configurable
  .env.example
  Dockerfile
  deploy/ragflow/README.md
  docker-compose.yaml
Due: lint-md, cspell

ci(project): 👷 configure xinference models per key with real ids
  deploy/ragflow/README.md
  deploy/ragflow/bootstrap.sh
Due: lint-md, cspell

ci(project): 👷 add ragflow v0.27.1 bootstrap for offline hosts
  cspell.json
  deploy/ragflow/README.md
  deploy/ragflow/bootstrap.sh
  deploy/ragflow/docker-compose-base.yml
  deploy/ragflow/docker-compose.yml
  deploy/ragflow/entrypoint.sh
  deploy/ragflow/env.example
  deploy/ragflow/init.sql
  deploy/ragflow/service_conf.yaml.template
Due: lint-md, cspell

fix(project): 🐛 unblock first deploy on a clean offline host
  .dockerignore
  Dockerfile
  deploy/ragflow/bootstrap.sh
  deploy/ragflow/env.example
Due: none

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx,mjs,cjs,mts,cts}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
  cspell: any of: *.{ts,tsx,md}
