Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

cspell:
  run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}

chore(project): 🔨 fix knip, cspell, and dotenvx config
  apps/server/prisma.config.ts
  apps/server/src/common/config/config.module.ts
  cspell.json
  knip.json
Due: lint-js, cspell

chore(project): 🔨 update auto-generated files
  apps/client/types/components.d.ts
  apps/server/src/metadata.ts
Due: lint-js, cspell

fix(ragflow): 🐛 migrate API endpoints from v0.20 to v0.24
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-js, cspell

test(system): ✅ remove invalid id from UpdateDto test literals
  apps/server/src/modules/system/dept/dept.controller.spec.ts
  apps/server/src/modules/system/dept/dept.service.spec.ts
  apps/server/src/modules/system/dict/dict.controller.spec.ts
  apps/server/src/modules/system/dict/dict.service.spec.ts
  apps/server/src/modules/system/menu/menu.controller.spec.ts
  apps/server/src/modules/system/post/post.controller.spec.ts
  apps/server/src/modules/system/post/post.service.spec.ts
  apps/server/src/modules/system/role/role.controller.spec.ts
  apps/server/src/modules/system/role/role.service.spec.ts
Due: lint-js, cspell

chore: add CLAUDE.md project instructions
  CLAUDE.md
Due: lint-md, cspell

chore(project): update Docker, tsconfig, and tooling config
  .npmrc
  .vscode/settings.json
  Dockerfile
  apps/client/package.json
  apps/client/tsconfig.app.json
  apps/server/tsconfig.json
  cspell.json
  docker-compose.infra.yaml
  docker-compose.yaml
  internal/tsconfig/base.json
  internal/tsconfig/nestjs.json
  internal/tsconfig/node.json
  internal/tsconfig/package.json
  internal/tsconfig/web.json
  knip.json
  lefthook.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

refactor(@sinopec-kb/server): improve common layer, Prisma config, and auth module
  apps/server/prisma/models/assistant.prisma
  apps/server/prisma/models/knowledgeBase.prisma
  apps/server/src/app.module.ts
  apps/server/src/common/config/env.validation.ts
  apps/server/src/common/database/prisma.extension.ts
  apps/server/src/common/dto/base.dto.ts
  apps/server/src/common/minio/minio.module.ts
  apps/server/src/common/minio/minio.service.ts
  apps/server/src/common/ragflow/ragflow.module.ts
  apps/server/src/common/ragflow/ragflow.service.ts
  apps/server/src/modules/auth/auth.module.ts
  apps/server/src/modules/auth/authentication/authentication.service.spec.ts
  apps/server/src/modules/auth/authentication/authentication.service.ts
  apps/server/src/modules/auth/authorization/guards/permissions.guard.spec.ts
  apps/server/src/modules/auth/authorization/guards/permissions.guard.ts
Due: lint-js, cspell

refactor(@sinopec-kb/server): wrap dept operations in transactions and update system module
  apps/server/src/modules/monitor/login-log/login-log.service.spec.ts
  apps/server/src/modules/monitor/login-log/login-log.service.ts
  apps/server/src/modules/monitor/monitor.module.ts
  apps/server/src/modules/monitor/operation-log/operation-log.service.spec.ts
  apps/server/src/modules/monitor/operation-log/operation-log.service.ts
  apps/server/src/modules/seed/seed.data.ts
  apps/server/src/modules/seed/seed.service.ts
  apps/server/src/modules/system/dept/dept.service.spec.ts
  apps/server/src/modules/system/dept/dept.service.ts
  apps/server/src/modules/system/dict/dict.service.spec.ts
  apps/server/src/modules/system/dict/dict.service.ts
  apps/server/src/modules/system/menu/menu.service.spec.ts
  apps/server/src/modules/system/menu/menu.service.ts
  apps/server/src/modules/system/post/post.service.spec.ts
  apps/server/src/modules/system/post/post.service.ts
  apps/server/src/modules/system/role/role.service.spec.ts
  apps/server/src/modules/system/role/role.service.ts
  apps/server/src/modules/system/system.module.ts
  apps/server/src/modules/system/user/user.service.spec.ts
  apps/server/src/modules/system/user/user.service.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): add ownership checks and DB-first pattern to assistant module
  apps/server/src/modules/assistant/assistant.controller.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.entity.ts
  apps/server/src/modules/assistant/assistant.module.ts
  apps/server/src/modules/assistant/assistant.service.ts
  cspell.json
Due: lint-js, cspell

feat(@sinopec-kb/server): add ownership checks and MIME filter to knowledge-base module
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
  apps/server/src/modules/knowledge-base/knowledge-base.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.module.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
  cspell.json
Due: lint-js, cspell

feat(@sinopec-kb/client): implement chat feature with sidebar and composable
  apps/client/src/api/assistant.ts
  apps/client/src/api/knowledgeBase.ts
  apps/client/src/components/chat/ChatEmptyState.vue
  apps/client/src/components/chat/ChatPanel.vue
  apps/client/src/components/chat/ChatSidebar.vue
  apps/client/src/composables/index.ts
  apps/client/src/composables/useChat.ts
  apps/client/src/locales/langs/en-US/page.json
  apps/client/src/locales/langs/zh-CN/page.json
  apps/client/src/views/assistant/chat/[id].page.vue
  apps/client/src/views/assistant/index.page.vue
  apps/client/src/views/dashboard/chat.page.vue
Due: lint-vue, lint-js, cspell

refactor(@sinopec-kb/client): improve stores, request utils, and system pages
  apps/client/src/composables/usePermission.ts
  apps/client/src/config/constants/index.ts
  apps/client/src/config/constants/permissionCodes.ts
  apps/client/src/directives/index.ts
  apps/client/src/directives/permission.ts
  apps/client/src/main.ts
  apps/client/src/stores/modules/lock.ts
  apps/client/src/stores/modules/preferences.ts
  apps/client/src/utils/request.ts
  apps/client/src/views/knowledgeBase/detail/[id].page.vue
  apps/client/src/views/knowledgeBase/index.page.vue
  apps/client/src/views/system/dept/index.page.vue
  apps/client/src/views/system/dict/index.page.vue
  apps/client/src/views/system/menu/index.page.vue
  apps/client/src/views/system/post/index.page.vue
  apps/client/src/views/system/role/index.page.vue
  apps/client/src/views/system/user/index.page.vue
Due: lint-vue, lint-js, cspell

chore(project): cleanup dead code and update auto-generated files
  apps/client/src/components/icons/IconCommunity.vue
  apps/client/src/components/icons/IconDocumentation.vue
  apps/client/src/components/icons/IconEcosystem.vue
  apps/client/src/components/icons/IconSupport.vue
  apps/client/src/components/icons/IconTooling.vue
  apps/client/src/composables/useSSEStream.ts
  apps/client/src/constants/permissionCodes.ts
  apps/client/types/auto-imports.d.ts
  apps/client/types/components.d.ts
  apps/client/types/openapi.d.ts
  apps/server/prisma/migrations/20260404125523_add_dataset_ids_to_assistant/migration.sql
  apps/server/src/common/hashing/bcrypt.service.ts
  apps/server/src/common/hashing/hashing.module.ts
  apps/server/src/common/hashing/hashing.service.ts
  apps/server/src/common/hashing/index.ts
  apps/server/src/metadata.ts
  apps/server/src/modules/monitor/health/health.controller.ts
  apps/server/src/modules/monitor/health/health.entity.ts
  apps/server/src/modules/monitor/health/health.service.spec.ts
  apps/server/src/modules/monitor/health/health.service.ts
  apps/server/src/modules/monitor/operation-log/operation-log.event.ts
  cspell.json
  docs/superpowers/plans/2026-04-04-chat-ui-refactor.md
  lefthook.yml
Due: lint-md, lint-vue, lint-js, cspell

fix(dev): add skip_unstaged to prevent lefthook patch restore failures
  lefthook.yml
Due: none

refactor(@sinopec-kb/client): replace vue-element-plus-x with markstream-vue and custom Naive UI components
  apps/client/package.json
  apps/client/src/components/chat/ChatBubble.vue
  apps/client/src/components/chat/ChatEmptyState.vue
  apps/client/src/components/chat/ChatMessageList.vue
  apps/client/src/components/chat/ChatPanel.vue
  apps/client/src/components/chat/ChatSender.vue
  apps/client/src/components/chat/ChatSidebar.vue
  apps/client/src/composables/useChat.ts
  apps/client/src/composables/useSSEStream.ts
  apps/client/src/views/assistant/chat/[id].page.vue
  apps/client/src/views/assistant/index.page.vue
  apps/client/src/views/dashboard/chat.page.vue
  apps/client/src/views/knowledgeBase/detail/[id].page.vue
  apps/client/types/components.d.ts
Due: lint-vue, lint-js, cspell

style(@sinopec-kb/client): apply linter auto-formatting fixes
  apps/client/src/api/knowledgeBase.ts
  apps/client/src/stores/modules/lock.ts
  apps/client/src/stores/modules/preferences.ts
  apps/client/src/views/knowledgeBase/index.page.vue
  apps/client/src/views/system/dept/index.page.vue
  apps/client/src/views/system/dict/index.page.vue
  apps/client/src/views/system/menu/index.page.vue
  apps/client/src/views/system/post/index.page.vue
  apps/client/src/views/system/role/index.page.vue
  apps/client/src/views/system/user/index.page.vue
Due: lint-vue, lint-js, cspell

refactor(@sinopec-kb/eslint-config): remove redundant rules and fix flat config usage
  internal/eslint-config/src/configs/disableds.ts
  internal/eslint-config/src/configs/javascript.ts
  internal/eslint-config/src/configs/node.ts
  internal/eslint-config/src/configs/prettier.ts
  internal/eslint-config/src/configs/turbo.ts
  internal/eslint-config/src/configs/vue.ts
  internal/eslint-config/src/custom-config.ts
Due: lint-js, cspell

refactor(@sinopec-kb/eslint-config): improve type safety and remove async wrappers
  internal/eslint-config/package.json
  internal/eslint-config/src/configs/command.ts
  internal/eslint-config/src/configs/ignores.ts
  internal/eslint-config/src/configs/import.ts
  internal/eslint-config/src/configs/jsonc.ts
  internal/eslint-config/src/configs/test.ts
  internal/eslint-config/src/configs/typescript.ts
  internal/eslint-config/src/configs/yaml.ts
  internal/eslint-config/src/index.ts
  internal/eslint-config/src/util.ts
Due: lint-js, cspell

refactor(other): simplify vite-config and remove dead code
  internal/vite-config/package.json
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/config/common.ts
  internal/vite-config/src/config/index.ts
  internal/vite-config/src/plugins/extra-app-config.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/plugins/print.ts
  internal/vite-config/src/typing.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): fix token refresh race condition and restore defensive destructuring
  apps/client/index.html
  apps/client/src/config/preferences/config.ts
  apps/client/src/locales/i18n.ts
  apps/client/src/stores/modules/lock.ts
  apps/client/src/stores/modules/tabbar.ts
  apps/client/src/utils/dom.ts
  apps/client/src/utils/download.ts
  apps/client/src/utils/request.ts
  apps/client/src/utils/unmount-global-loading.ts
  apps/client/types/auto-imports.d.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): prevent user enumeration and sanitize file download names
  apps/server/package.json
  apps/server/src/common/config/env.validation.ts
  apps/server/src/common/minio/minio.service.ts
  apps/server/src/common/response/paginated.response.ts
  apps/server/src/main.ts
  apps/server/src/modules/assistant/assistant.controller.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/auth/authentication/authentication.service.spec.ts
  apps/server/src/modules/auth/authentication/authentication.service.ts
  apps/server/src/modules/auth/authorization/guards/permissions.guard.spec.ts
  apps/server/src/modules/auth/authorization/guards/permissions.guard.ts
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
  apps/server/src/modules/monitor/health/health.controller.ts
  apps/server/src/modules/monitor/health/health.service.spec.ts
  apps/server/src/modules/monitor/login-log/login-log.service.spec.ts
  apps/server/src/modules/monitor/login-log/login-log.service.ts
  apps/server/src/modules/monitor/operation-log/operation-log.service.spec.ts
  apps/server/src/modules/monitor/operation-log/operation-log.service.ts
  apps/server/src/modules/seed/seed.service.ts
  apps/server/src/modules/system/dept/dept.service.spec.ts
  apps/server/src/modules/system/dept/dept.service.ts
  apps/server/src/modules/system/dict/dict.service.spec.ts
  apps/server/src/modules/system/dict/dict.service.ts
  apps/server/src/modules/system/menu/menu.service.spec.ts
  apps/server/src/modules/system/menu/menu.service.ts
  apps/server/src/modules/system/post/post.service.spec.ts
  apps/server/src/modules/system/post/post.service.ts
  apps/server/src/modules/system/role/role.service.spec.ts
  apps/server/src/modules/system/role/role.service.ts
  apps/server/src/modules/system/user/user.service.spec.ts
  apps/server/src/modules/system/user/user.service.ts
Due: lint-js, cspell

chore(dev): update dependency lock file
  pnpm-lock.yaml
Due: none

style(project): apply linter auto-formatting fixes
  apps/client/src/stores/modules/tabbar.ts
  apps/server/src/common/config/env.validation.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-js, cspell

fix(project): resolve all eslint warnings with strict type safety
  apps/client/src/composables/useSSEStream.ts
  apps/client/src/config/preferences/color.ts
  apps/client/src/config/preferences/config.ts
  apps/client/src/config/preferences/types.ts
  apps/client/src/locales/i18n.ts
  apps/client/src/main.ts
  apps/client/src/router/vue-router.d.ts
  apps/client/src/stores/modules/preferences.ts
  apps/client/src/stores/modules/tabbar.ts
  apps/client/src/utils/date.ts
  apps/client/src/utils/diff.ts
  apps/client/src/utils/download.ts
  apps/client/src/utils/echarts/use-echarts.ts
  apps/client/src/utils/inference.ts
  apps/client/src/utils/permission.ts
  apps/client/src/utils/request.ts
  apps/client/src/utils/tree.ts
  apps/client/src/utils/tsx-helper.tsx
  apps/client/src/utils/unique.ts
  apps/client/src/utils/window.ts
  apps/server/src/app.module.ts
  apps/server/src/common/dto/upload.dto.ts
  apps/server/src/common/filters/all-exception.filter.ts
  apps/server/src/common/ragflow/ragflow.service.ts
  apps/server/src/common/response/paginated.response.ts
  apps/server/src/common/utils/index.ts
  apps/server/src/common/utils/to-plain-object.ts
  apps/server/src/common/utils/transformationTree.ts
  apps/server/src/main.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/auth/authentication/authentication.service.ts
  apps/server/src/modules/auth/authentication/guards/access-token.guard.ts
  apps/server/src/modules/auth/authentication/guards/authentication.guard.ts
  apps/server/src/modules/auth/authorization/guards/permissions.guard.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
  apps/server/src/modules/monitor/health/health.service.ts
  apps/server/src/modules/monitor/login-log/login-log.service.ts
  apps/server/src/modules/monitor/operation-log/operation-log.service.ts
  apps/server/src/modules/system/dept/dept.service.ts
  apps/server/src/modules/system/menu/menu.service.ts
Due: lint-js, cspell

refactor(@sinopec-kb/server): proxy-based test mock architecture
  apps/server/eslint.config.mjs
  apps/server/src/modules/auth/authentication/authentication.service.spec.ts
  apps/server/src/modules/auth/authentication/guards/access-token.guard.spec.ts
  apps/server/src/modules/auth/authorization/guards/permissions.guard.spec.ts
  apps/server/src/modules/monitor/info/info.service.spec.ts
  apps/server/src/modules/monitor/login-log/login-log.service.spec.ts
  apps/server/src/modules/monitor/operation-log/operation-log.service.spec.ts
  apps/server/src/modules/system/dept/dept.service.spec.ts
  apps/server/src/modules/system/dict/dict.service.spec.ts
  apps/server/src/modules/system/menu/menu.service.spec.ts
  apps/server/src/modules/system/post/post.service.spec.ts
  apps/server/src/modules/system/role/role.service.spec.ts
  apps/server/src/modules/system/user/user.service.spec.ts
  apps/server/src/test-utils/common.mock.ts
  apps/server/src/test-utils/monitor.mock.ts
  apps/server/tsconfig.json
Due: lint-js, cspell

fix(project): address code review security and quality issues
  .env.example
  apps/client/env.d.ts
  apps/client/src/layouts/components/widgets/test_breadcrumb_logic.test.ts
  apps/client/src/router/permissionGuard.ts
  apps/client/src/stores/modules/user.ts
  apps/client/src/views/login/form.vue
  apps/client/src/views/system/dict/index.page.vue
  apps/server/src/common/utils/sanitize-filename.ts
  apps/server/src/modules/system/user/user.service.ts
Due: lint-vue, lint-js, cspell

style(@sinopec-kb/server): apply perfectionist class member ordering
  apps/server/src/common/ragflow/ragflow.service.ts
Due: lint-js, cspell

refactor(@sinopec-kb/client): restructure i18n with page subdirectories and full key decoupling
  apps/client/src/layouts/components/LayoutSidebar.vue
  apps/client/src/layouts/components/widgets/breadcrumb.vue
  apps/client/src/locales/i18n.ts
  apps/client/src/locales/langs/en-US/menu.json
  apps/client/src/locales/langs/en-US/page.json
  apps/client/src/locales/langs/en-US/page/assistant.json
  apps/client/src/locales/langs/en-US/page/business.json
  apps/client/src/locales/langs/en-US/page/common.json
  apps/client/src/locales/langs/en-US/page/dashboard.json
  apps/client/src/locales/langs/en-US/page/erp.json
  apps/client/src/locales/langs/en-US/page/knowledgeBase.json
  apps/client/src/locales/langs/en-US/page/monitor.json
  apps/client/src/locales/langs/en-US/page/system.json
  apps/client/src/locales/langs/zh-CN/menu.json
  apps/client/src/locales/langs/zh-CN/page.json
  apps/client/src/locales/langs/zh-CN/page/assistant.json
  apps/client/src/locales/langs/zh-CN/page/business.json
  apps/client/src/locales/langs/zh-CN/page/common.json
  apps/client/src/locales/langs/zh-CN/page/dashboard.json
  apps/client/src/locales/langs/zh-CN/page/erp.json
  apps/client/src/locales/langs/zh-CN/page/knowledgeBase.json
  apps/client/src/locales/langs/zh-CN/page/monitor.json
  apps/client/src/locales/langs/zh-CN/page/system.json
  apps/client/src/main.ts
  apps/client/src/views/system/menu/index.page.vue
  apps/server/prisma/migrations/20260406160000_prefix_menu_title_with_page/migration.sql
  apps/server/src/modules/seed/seed.data.ts
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/client): add useCan composable for template-friendly permission checks
  apps/client/src/composables/index.ts
  apps/client/src/composables/usePermission.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): validate title required for non-button menu items
  apps/server/src/modules/system/menu/menu.service.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): correct analytics page meta title key
  apps/client/src/views/dashboard/analytics.page.vue
Due: lint-vue

refactor(@sinopec-kb/server): extract buildRagflowPrompt helper method
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-js, cspell

chore(@sinopec-kb/server): add SWC path aliases configuration
  apps/server/.swcrc
Due: none

docs: add monthly reports for March and April 2026
  docs/monthly-report-2026-03.md
  docs/monthly-report-2026-04.md
Due: lint-md, cspell

style(@sinopec-kb/server): reorder assistant service class members
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-js, cspell

chore: remove completed chat UI refactor plan
  docs/superpowers/plans/2026-04-04-chat-ui-refactor.md
Due: lint-md, cspell

fix(@sinopec-kb/client): add page. prefix to definePage meta titles
  apps/client/src/views/dashboard/analytics.page.vue
  apps/client/src/views/dashboard/map/index.page.vue
  apps/client/src/views/dashboard/workspace/index.page.vue
  apps/client/src/views/index.page.vue
  apps/client/src/views/monitor/info/index.page.vue
  apps/client/src/views/monitor/loginLog/index.page.vue
  apps/client/src/views/monitor/online/index.page.vue
  apps/client/src/views/monitor/operationLog/index.page.vue
  apps/client/src/views/system/dept/index.page.vue
  apps/client/src/views/system/dict/index.page.vue
  apps/client/src/views/system/menu/index.page.vue
  apps/client/src/views/system/post/index.page.vue
  apps/client/src/views/system/role/index.page.vue
  apps/client/src/views/system/user/index.page.vue
Due: lint-vue

fix(@sinopec-kb/client): resolve infinite redirect loop on 403/404 pages
  apps/client/src/router/permissionGuard.ts
Due: lint-js, cspell

chore: add .playwright-mcp to gitignore
  .gitignore
Due: none

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx,mjs,cjs,mts,cts}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
  cspell: any of: *.{ts,tsx,md}
