Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lefthook.yml:

# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx,mjs,cjs,mts,cts}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: package.json
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'
    cspell:
      run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}
      glob: '*.{ts,tsx,md}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

chore(@sinopec-kb/server): 🔨 support multi-dataset in eval runner
  apps/server/scripts/eval/run.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ add 0520 customer eval suite (30 questions)
  apps/server/scripts/eval/configs/0520-baseline.json
  apps/server/scripts/eval/dataset/questions-0520.json
  apps/server/scripts/eval/import-questions-0520.ts
  apps/server/scripts/eval/setup-kb-0520.sh
  apps/server/scripts/eval/setup-kb-0520.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 fill missing reference.doc for 0520 Q12
  apps/server/scripts/eval/dataset/questions-0520.json
Due: none

chore(@sinopec-kb/server): 🔨 scaffold text-embedding-v4 A/B eval (abandoned mid-execution)
  apps/server/package.json
  apps/server/scripts/eval/setup-kb-0520-qwen3.sh
  docs/superpowers/plans/2026-05-20-qwen3-embedding-v4-eval.md
Due: lint-md, cspell

chore(project): 🔨 ignore local .worktrees/ for parallel agent dev
  .gitignore
Due: none

fix(@sinopec-kb/client): 🐛 explicitly import useUserStore in request.ts
  apps/client/src/utils/request.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 useDateRangeShortcuts uses maxDate as base for subtract
  apps/client/src/utils/useDateRangeShortcuts.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ port format/currency utils from data-hub
  apps/client/src/utils/currency.ts
  apps/client/src/utils/format.spec.ts
  apps/client/src/utils/format.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 notify all 401 subscribers on token refresh failure
  apps/client/src/utils/request.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ port useFormLoading/useEditLoading from data-hub
  apps/client/src/composables/useEditLoading.ts
  apps/client/src/composables/useFormLoading.spec.ts
  apps/client/src/composables/useFormLoading.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 persist preferences to localStorage and sync useDark on boot
  apps/client/src/App.vue
  apps/client/src/config/preferences/color.ts
  apps/client/src/stores/modules/preferences.ts
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/client): ✨ export ApiError class to dedupe error toasts
  apps/client/src/utils/request.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 surface iOS download fallback via toast instead of console
  apps/client/src/utils/download.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 changePassword 401 should not trigger token refresh
  apps/client/src/utils/request.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 align useEditLoading error policy with useFormLoading
  apps/client/src/composables/useEditLoading.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ fallback to first accessible menu instead of 403
  apps/client/src/router/permissionGuard.ts
  apps/client/src/stores/modules/user.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ add latest-request-guard for stale response prevention
  apps/client/src/utils/latest-request-guard.spec.ts
  apps/client/src/utils/latest-request-guard.ts
Due: lint-js, cspell

chore(@sinopec-kb/client): 🔨 gate i18n missing-key warning behind DEV flag
  apps/client/src/locales/i18n.ts
Due: lint-js, cspell

style(@sinopec-kb/client): 💄 use explicit arrow body in token refresh subscriber notify
  apps/client/src/utils/request.ts
Due: lint-js, cspell

style(@sinopec-kb/client): 💄 drop redundant eslint-disable comments under DEV guards
  apps/client/src/composables/useFormLoading.ts
  apps/client/src/composables/useKnowledgeBaseOptions.ts
  apps/client/src/composables/useLlmOptions.ts
  apps/client/src/composables/useSSEStream.ts
  apps/client/src/locales/i18n.ts
  apps/client/src/utils/currency.ts
  apps/client/src/utils/format.spec.ts
  apps/client/src/utils/format.ts
  apps/client/src/utils/request.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 log errors instead of silently swallowing in catch blocks
  apps/client/src/composables/useKnowledgeBaseOptions.ts
  apps/client/src/composables/useLlmOptions.ts
  apps/client/src/composables/useSSEStream.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ add dropdown menu + confirm dialog to TableAction
  apps/client/src/components/common/TableAction.vue
Due: lint-vue

feat(@sinopec-kb/client): ✨ version check with update prompt + midnight auto-refresh
  apps/client/src/App.vue
  apps/client/src/api/monitor/health.ts
  apps/client/src/composables/useVersionCheck/index.ts
  apps/client/src/composables/useVersionCheck/useLeaderTab.ts
  apps/client/src/composables/useVersionCheck/useMidnightRefresh.ts
  apps/client/src/composables/useVersionCheck/useVersionPoll.ts
  apps/client/src/utils/version-check.spec.ts
  apps/client/src/utils/version-check.ts
Due: lint-vue, lint-js, cspell

chore(@sinopec-kb/server): 🔨 add server-proxy eval runner with prod-key guard
  apps/server/scripts/eval/run-via-server.ts
  turbo.json
Due: lint-js, cspell

chore(@sinopec-kb/server): 🔨 add full-stack chat E2E for bge-large-zh-v1.5 KB
  apps/client/e2e/kb-bge-large-fullstack.spec.ts
  docs/superpowers/plans/2026-05-08-kb-bge-large-fullstack-e2e.md
  turbo.json
Due: lint-md, lint-js, cspell

chore(@sinopec-kb/server): 🔨 archive eval experiments suite (qwen3-max + prompts v2/v3)
  apps/server/scripts/eval/chunk-tagger.ts
  apps/server/scripts/eval/configs/0520-qwen3max-promptv2-kwd-projowner.json
  apps/server/scripts/eval/configs/0520-qwen3max-promptv2-kwd.json
  apps/server/scripts/eval/configs/0520-qwen3max-promptv2-tagged.json
  apps/server/scripts/eval/configs/0520-qwen3max-promptv2.json
  apps/server/scripts/eval/configs/0520-qwen3max-promptv3-kwd.json
  apps/server/scripts/eval/configs/0520-qwen3max-promptv3.1-kwd.json
  apps/server/scripts/eval/configs/0520-qwen3max-promptv3.3-kwd.json
  apps/server/scripts/eval/configs/0520-qwen3max.json
  apps/server/scripts/eval/configs/prod-0420-qwen3max-v2-projowner.json
  apps/server/scripts/eval/configs/prod-v2-postmigration-kwd-projowner.json
  apps/server/scripts/eval/configs/prod-v2-postmigration-kwd.json
  apps/server/scripts/eval/configs/prod-v2-postmigration-v3.3-kwd.json
  apps/server/scripts/eval/dataset/sinopec-concept-dict.csv
  apps/server/scripts/eval/dataset/sinopec-regex-catalog.json
Due: lint-js, cspell

docs: 📝 archive KB optimization report + 3 plan documents
  docs/kb-optimization-report.md
  docs/superpowers/plans/2026-05-06-align-assistant-settings-with-ragflow.md
  docs/superpowers/plans/2026-05-06-shift-ragflow-reference.md
  docs/superpowers/plans/2026-05-24-client-fix-roadmap.md
Due: lint-md, cspell

style(project): 💄 apply lint-md formatting to KB docs
  docs/kb-optimization-report.md
  docs/superpowers/plans/2026-05-06-align-assistant-settings-with-ragflow.md
  docs/superpowers/plans/2026-05-06-shift-ragflow-reference.md
  docs/superpowers/plans/2026-05-08-kb-bge-large-fullstack-e2e.md
  docs/superpowers/plans/2026-05-24-client-fix-roadmap.md
Due: lint-md, cspell

style(@sinopec-kb/client): 💄 apply prettier formatting to P1-6/P1-7 ports
  apps/client/src/App.vue
  apps/client/src/components/common/TableAction.vue
  apps/client/src/composables/useVersionCheck/useLeaderTab.ts
  apps/client/src/composables/useVersionCheck/useVersionPoll.ts
  apps/client/src/utils/version-check.spec.ts
Due: lint-vue, lint-js, cspell

fix(@sinopec-kb/client): 🐛 address review issues from reviewer agent
  apps/client/src/components/common/TableAction.vue
  apps/client/src/composables/useVersionCheck/useVersionPoll.ts
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/client): ✨ port tab layout composables (drag/contextmenu/scroll/overflow)
  apps/client/src/layouts/composables/useTabContextMenu.ts
  apps/client/src/layouts/composables/useTabDragSort.ts
  apps/client/src/layouts/composables/useTabOverflow.ts
  apps/client/src/layouts/composables/useTabScroll.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ port LayoutTabs.vue with drag/contextmenu/overflow
  apps/client/src/layouts/components/LayoutTabs.vue
  apps/client/src/utils/isPathMatch.ts
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/client): ✨ wire LayoutTabs into default.vue
  apps/client/src/layouts/default.vue
Due: lint-vue

fix(@sinopec-kb/client): 🐛 address review issues on LayoutTabs port
  apps/client/src/layouts/components/LayoutTabs.vue
  apps/client/src/layouts/composables/useTabContextMenu.ts
  apps/client/src/layouts/composables/useTabDragSort.ts
  apps/client/src/utils/isPathMatch.spec.ts
Due: lint-vue, lint-js, cspell

refactor(@sinopec-kb/client): ♻️ address review follow-up items from P1 ports
  apps/client/src/layouts/composables/useTabDragSort.ts
  apps/client/src/layouts/composables/useTabScroll.ts
  apps/client/src/router/permissionGuard.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ port 4 utility infra modules from data-hub
  apps/client/src/composables/useDictMap.ts
  apps/client/src/composables/useLargeDataPagination.ts
  apps/client/src/utils/pro-form.ts
  apps/client/src/utils/tag.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ cap KeepAlive cache at 20 components via :max
  apps/client/src/config/constants/app.ts
  apps/client/src/layouts/components/LayoutContent.vue
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/client): ✨ surface loadingBar error state on permission init failure
  apps/client/src/router/permissionGuard.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ port PreferencesDrawer for live preferences editing
  apps/client/src/layouts/components/PreferencesDrawer.vue
Due: lint-vue
