Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lefthook.yml:

# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx,mjs,cjs,mts,cts}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: package.json
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'
    cspell:
      run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}
      glob: '*.{ts,tsx,md}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

refactor: ♻️ clean up project structure and configuration
  .dockerignore
  Dockerfile
  apps/client/package.json
  apps/server/package.json
  apps/server/prisma.config.ts
  apps/server/src/app.module.ts
  apps/server/src/main.ts
  apps/server/src/modules/system/dept/dept.service.spec.ts
  apps/server/src/test-utils/mock.factory.ts
  apps/server/src/test-utils/monitor.mock.ts
  apps/server/test/app.e2e-spec.ts
  apps/server/tsconfig.json
  internal/tsconfig/nestjs.json
  vitest.config.ts
Due: lint-js, cspell

chore: ♻️ deduplicate and optimize project configuration
  .gitignore
  .node-version
  .vscode/settings.json
  apps/client/eslint.config.mjs
  apps/client/tsconfig.app.json
  apps/server/package.json
  apps/server/tsconfig.json
  apps/server/vitest.config.e2e.ts
  cspell.json
  docker-compose.dev.yaml
  docker-compose.infra.yaml
  docker-compose.yaml
  internal/tsconfig/nestjs.json
  internal/tsconfig/node.json
  internal/tsconfig/web-app.json
  knip.json
  vitest.config.ts
Due: lint-js, cspell

refactor: ♻️ project review cleanup and optimization
  apps/client/package.json
  apps/server/src/common/config/env.validation.ts
  apps/server/src/common/dto/base.dto.ts
  apps/server/src/common/dto/upload.dto.ts
  apps/server/src/common/utils/date-window.ts
  apps/server/src/common/utils/dayjs.ts
  apps/server/src/common/utils/hash.ts
  apps/server/src/common/utils/index.ts
  apps/server/src/common/utils/parse-utils.ts
  apps/server/src/common/utils/retry.ts
  apps/server/src/common/utils/sync-logger.ts
  apps/server/src/modules/system/dept/dept.controller.ts
  apps/server/src/modules/system/dept/dept.service.spec.ts
  apps/server/src/modules/system/dept/dept.service.ts
  apps/server/src/modules/system/dict/dict.controller.ts
  apps/server/src/modules/system/menu/menu.controller.ts
  apps/server/src/modules/system/role/role.controller.ts
  apps/server/src/modules/system/role/role.dto.ts
  apps/server/src/modules/system/user/user.controller.ts
  apps/server/src/modules/system/user/user.dto.ts
  apps/server/src/test-utils/business.mock.ts
  apps/server/src/test-utils/common.mock.ts
  apps/server/src/test-utils/erp.mock.ts
  apps/server/src/test-utils/mock.factory.ts
  apps/server/tsconfig.json
  apps/server/vitest.base.ts
  apps/server/vitest.config.e2e.ts
  apps/server/vitest.config.ts
  docker-compose.dev.yaml
Due: lint-js, cspell

refactor(server): modularize dependencies and optimize bootstrap
  apps/server/src/app.module.ts
  apps/server/src/common/bootstrap/app.setup.ts
  apps/server/src/common/dto/base.dto.ts
  apps/server/src/common/logger/logger.config.ts
  apps/server/src/common/minio/minio.module.ts
  apps/server/src/common/minio/minio.service.ts
  apps/server/src/common/utils/transformationTree.ts
  apps/server/src/main.ts
  apps/server/src/metadata.ts
  apps/server/src/modules/auth/auth.module.ts
  apps/server/src/modules/auth/authentication/authentication.controller.ts
  apps/server/src/modules/system/system.module.ts
  apps/server/src/test-utils/common.mock.ts
Due: lint-js, cspell

refactor(server): split password management and remove redundant DTO fields
  apps/server/eslint.config.mjs
  apps/server/src/modules/system/dept/dept.dto.ts
  apps/server/src/modules/system/dict/dict.dto.ts
  apps/server/src/modules/system/menu/menu.dto.ts
  apps/server/src/modules/system/post/post.dto.ts
  apps/server/src/modules/system/role/role.dto.ts
  apps/server/src/modules/system/user/user.controller.spec.ts
  apps/server/src/modules/system/user/user.controller.ts
  apps/server/src/modules/system/user/user.dto.ts
  apps/server/src/modules/system/user/user.service.spec.ts
  apps/server/src/modules/system/user/user.service.ts
Due: lint-js, cspell

chore(project): update build config and dependencies
  apps/server/package.json
  apps/server/tsconfig.build.json
  apps/server/vitest.base.ts
  internal/tsconfig/nestjs.json
  pnpm-lock.yaml
Due: lint-js, cspell

chore: 🔨 use catalog specifier for vite-tsconfig-paths and add eslint to package.json pre-commit hook
  apps/server/package.json
  lefthook.yml
  pnpm-workspace.yaml
Due: none

chore(config): 🔨 remove unused APP_VERSION from env validation
  apps/server/src/common/config/env.validation.ts
Due: lint-js, cspell

fix(docker): 🐛 handle optional Redis password in docker-compose
  docker-compose.infra.yaml
Due: none

docs(skills): 📝 add AI agent pre-commit checklist to git-workflow skill
  .agent/skills/git-workflow/references/daily.md
Due: lint-md, cspell

docs(skills): 📝 improve pre-commit checklist with branch existence check
  .agent/skills/git-workflow/references/daily.md
Due: lint-md, cspell

chore(eslint): 🔨 enable type-aware linting with projectService
  apps/server/eslint.config.mjs
  apps/server/src/main.ts
  apps/server/src/metadata.ts
  apps/server/src/modules/auth/authentication/authentication.controller.ts
  apps/server/src/modules/auth/authentication/guards/access-token.guard.ts
  apps/server/src/modules/monitor/info/info.controller.ts
  apps/server/src/modules/monitor/info/info.entity.ts
  apps/server/src/modules/monitor/info/info.service.ts
  apps/server/src/modules/monitor/login-log/login-log.controller.ts
  apps/server/src/modules/monitor/login-log/login-log.dto.ts
  apps/server/src/modules/monitor/login-log/login-log.entity.ts
  apps/server/src/modules/monitor/login-log/login-log.service.ts
  apps/server/src/modules/monitor/operation-log/operation-log.controller.ts
  apps/server/src/modules/monitor/operation-log/operation-log.dto.ts
  apps/server/src/modules/monitor/operation-log/operation-log.entity.ts
  apps/server/src/modules/monitor/operation-log/operation-log.service.ts
  internal/eslint-config/src/configs/ignores.ts
  internal/eslint-config/src/configs/typescript.ts
Due: lint-js, cspell

fix(client): 🐛 fix empty error message on login 401 response
  apps/client/src/utils/request.ts
Due: lint-js, cspell

refactor(@sinopec-kb/server): ♻️ migrate seeding from standalone Prisma seed to NestJS lifecycle module
  .dockerignore
  Dockerfile
  apps/server/package.json
  apps/server/prisma.config.ts
  apps/server/prisma/data/dict.json
  apps/server/prisma/data/menu.json
  apps/server/prisma/data/user.json
  apps/server/prisma/seed.ts
  apps/server/src/app.module.ts
  apps/server/src/modules/seed/seed.data.ts
  apps/server/src/modules/seed/seed.module.ts
  apps/server/src/modules/seed/seed.service.ts
  cspell.json
  docker-compose.yaml
  docker/entrypoint.sh
Due: lint-js, cspell

feat(server): add ragflow, knowledge-base and assistant modules
  .env.example
  apps/server/eslint.config.mjs
  apps/server/prisma/models/assistant.prisma
  apps/server/prisma/models/dept.prisma
  apps/server/prisma/models/knowledgeBase.prisma
  apps/server/prisma/models/user.prisma
  apps/server/src/app.module.ts
  apps/server/src/common/config/env.validation.ts
  apps/server/src/common/ragflow/ragflow.module.ts
  apps/server/src/common/ragflow/ragflow.service.ts
  apps/server/src/metadata.ts
  apps/server/src/modules/assistant/assistant.controller.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.entity.ts
  apps/server/src/modules/assistant/assistant.module.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
  apps/server/src/modules/knowledge-base/knowledge-base.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.entity.ts
  apps/server/src/modules/knowledge-base/knowledge-base.module.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
  cspell.json
  lefthook.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-js, cspell

feat(client): migrate knowledge-base and assistant business modules
  apps/client/package.json
  apps/client/src/api/assistant.ts
  apps/client/src/api/knowledgeBase.ts
  apps/client/src/components/chat/ChatPanel.vue
  apps/client/src/locales/langs/en-US/page.json
  apps/client/src/locales/langs/zh-CN/page.json
  apps/client/src/views/assistant/chat/[id].page.vue
  apps/client/src/views/assistant/index.page.vue
  apps/client/src/views/dashboard/analytics.page.vue
  apps/client/src/views/dashboard/chat.page.vue
  apps/client/src/views/knowledgeBase/detail/[id].page.vue
  apps/client/src/views/knowledgeBase/index.page.vue
  apps/client/types/auto-imports.d.ts
  apps/client/types/components.d.ts
  apps/client/types/openapi.d.ts
  apps/client/types/typed-router.d.ts
Due: lint-vue, lint-js, cspell

chore(client): 🔨 add #/* path alias for openapi types
  apps/client/tsconfig.app.json
Due: none

chore: 🔨 exclude .agent folder from VS Code search
  .vscode/settings.json
Due: none

chore: 🔨 change backend port to 3001 and remove hardcoded port
  .env.example
  Dockerfile
  apps/client/package.json
  apps/client/vite.config.ts
  apps/server/src/main.ts
  docker-compose.yaml
  docker/nginx/default.conf
Due: lint-js, cspell

fix(assistant): 🐛 fix code review issues for business migration
  apps/client/src/components/chat/ChatPanel.vue
  apps/client/src/views/assistant/chat/[id].page.vue
  apps/client/src/views/dashboard/chat.page.vue
  apps/client/tsconfig.app.json
  apps/server/src/modules/assistant/assistant.entity.ts
Due: lint-vue, lint-js, cspell

chore(deps): 🔨 regenerate openapi.d.ts with full assistant schemas
  apps/client/types/openapi.d.ts
Due: lint-js, cspell

fix: 🐛 reorder user routes to prevent :id capturing static paths
  apps/server/src/metadata.ts
  apps/server/src/modules/system/user/user.controller.ts
Due: lint-js, cspell

chore(client): 🔨 migrate route file extension from .vue to .page.vue
  apps/client/src/views/403.page.vue
  apps/client/src/views/[...all].page.vue
  apps/client/src/views/index.page.vue
  apps/client/src/views/login/index.page.vue
  apps/client/types/typed-router.d.ts
  apps/client/vite.config.ts
Due: lint-vue, lint-js, cspell

fix(user): 🐛 reorder routes to prevent dynamic param capturing static paths
  apps/server/src/modules/system/user/user.controller.ts
Due: lint-js, cspell

refactor(auth): ♻️ harden permission guard with redirect validation and error recovery
  apps/client/src/router/permissionGuard.ts
Due: lint-js, cspell

refactor(http): ♻️ fix token refresh race condition and add safe JSON parsing
  apps/client/src/utils/request.ts
Due: lint-js, cspell

chore(seed): 🔨 remove ERP and short-video module seed data
  apps/server/src/modules/seed/seed.data.ts
Due: lint-js, cspell

chore(server): �� optimize ESLint configuration
  apps/server/eslint.config.mjs
  apps/server/src/metadata.ts
Due: lint-js, cspell

feat(client): ✨ add system/monitor/dashboard placeholder pages with UnderConstruction component
  apps/client/src/components/common/UnderConstruction.vue
  apps/client/src/views/dashboard/map/index.page.vue
  apps/client/src/views/dashboard/workspace/index.page.vue
  apps/client/src/views/monitor/info/index.page.vue
  apps/client/src/views/monitor/loginLog/index.page.vue
  apps/client/src/views/monitor/online/index.page.vue
  apps/client/src/views/monitor/operationLog/index.page.vue
  apps/client/src/views/system/dept/index.page.vue
  apps/client/src/views/system/dict/index.page.vue
  apps/client/src/views/system/menu/index.page.vue
  apps/client/src/views/system/post/index.page.vue
  apps/client/src/views/system/role/index.page.vue
  apps/client/src/views/system/user/index.page.vue
  apps/client/types/components.d.ts
Due: lint-vue, lint-js, cspell

feat(client): ✨ implement system, monitor, and dashboard views
  apps/client/src/api/monitor/info.ts
  apps/client/src/locales/langs/zh-CN/page.json
  apps/client/src/utils/request.ts
  apps/client/src/views/assistant/index.page.vue
  apps/client/src/views/dashboard/analytics.page.vue
  apps/client/src/views/index.page.vue
  apps/client/src/views/monitor/info/index.page.vue
  apps/client/src/views/monitor/loginLog/index.page.vue
  apps/client/src/views/monitor/online/index.page.vue
  apps/client/src/views/monitor/operationLog/index.page.vue
  apps/client/src/views/system/dept/index.page.vue
  apps/client/src/views/system/dict/index.page.vue
  apps/client/src/views/system/menu/index.page.vue
  apps/client/src/views/system/post/index.page.vue
  apps/client/src/views/system/role/index.page.vue
  apps/client/src/views/system/user/index.page.vue
  apps/client/types/components.d.ts
  apps/client/types/typed-router.d.ts
Due: lint-vue, lint-js, cspell

chore(prisma): 🔨 add cascade delete and simplify seed data
  apps/server/prisma/migrations/20260303100508_add_cascade_delete/migration.sql
  apps/server/prisma/models/dept.prisma
  apps/server/prisma/models/menu.prisma
  apps/server/src/modules/seed/seed.data.ts
Due: lint-js, cspell

fix(client): 🐛 fix white screen on token expiration
  apps/client/src/stores/modules/user.ts
  apps/client/src/utils/request.ts
  apps/client/types/components.d.ts
Due: lint-js, cspell

fix: 🐛 add prisma:generate step before server build in Docker
  Dockerfile
Due: none

fix(deploy): 修复容器间服务端口和Redis认证配置
  docker-compose.infra.yaml
  docker-compose.yaml
Due: none

fix(@sinopec-kb/server): 🐛 change default embedding model to BGE
  apps/client/src/views/knowledgeBase/index.page.vue
  apps/server/src/modules/knowledge-base/knowledge-base.dto.ts
  cspell.json
Due: lint-vue, lint-js, cspell

refactor(@sinopec-kb/client): ♻️ improve type safety and code quality
  apps/client/src/components/common/UnderConstruction.vue
  apps/client/src/locales/i18n.ts
  apps/client/src/locales/langs/en-US/page.json
  apps/client/src/main.ts
  apps/client/src/router/index.ts
  apps/client/src/stores/modules/tabbar.ts
  apps/client/src/style/reset.css
  apps/client/src/utils/diff.ts
  apps/client/src/utils/echarts/use-echarts.ts
  apps/client/src/utils/request.ts
  apps/client/src/utils/tree.ts
  apps/client/src/views/index.page.vue
  apps/client/src/views/system/dept/index.page.vue
  apps/client/src/views/system/dict/index.page.vue
  apps/client/src/views/system/menu/index.page.vue
  apps/client/tsconfig.app.json
  apps/client/tsconfig.node.json
  lefthook.yml
Due: lint-vue, lint-js, cspell
