Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

cspell:
  run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}

feat(@sinopec-kb/server): ✨ add the weekly report assistant backend
  .env.example
  CLAUDE.md
  apps/server/prisma/migrations/20261006100000_add_weekly_report/migration.sql
  apps/server/prisma/migrations/20261006100100_add_weekly_report_menu/migration.sql
  apps/server/prisma/models/user.prisma
  apps/server/prisma/models/weeklyReport.prisma
  apps/server/src/app-routes.ts
  apps/server/src/app.module.ts
  apps/server/src/common/config/env.validation.ts
  apps/server/src/metadata.ts
  apps/server/src/modules/seed/seed.data.spec.ts
  apps/server/src/modules/seed/seed.data.ts
  apps/server/src/modules/weekly-report/weekly-report.controller.ts
  apps/server/src/modules/weekly-report/weekly-report.dto.ts
  apps/server/src/modules/weekly-report/weekly-report.entity.ts
  apps/server/src/modules/weekly-report/weekly-report.module.ts
  apps/server/src/modules/weekly-report/weekly-report.service.spec.ts
  apps/server/src/modules/weekly-report/weekly-report.service.ts
  apps/server/src/test-utils/common.mock.ts
  docker-compose.yaml
  docker/nginx/default.conf
Due: lint-md, lint-js, cspell

style(@sinopec-kb/client): 🎨 hoist request layer imports per lint rule
  apps/client/src/utils/request.ts
Due: lint-js, cspell

style(@sinopec-kb/server): 🎨 sort weekly report service members per lint rule
  apps/server/src/modules/weekly-report/weekly-report.service.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ add the weekly report assistant page
  apps/client/package.json
  apps/client/src/api/weeklyReport.ts
  apps/client/src/locales/langs/en-US/common.json
  apps/client/src/locales/langs/en-US/page/weekly.json
  apps/client/src/locales/langs/zh-CN/common.json
  apps/client/src/locales/langs/zh-CN/page/weekly.json
  apps/client/src/utils/request.ts
  apps/client/src/views/portal/index.page.vue
  apps/client/src/views/weekly/index.page.vue
  apps/client/types/components.d.ts
  apps/client/types/openapi-assistant.d.ts
  apps/client/types/openapi-weekly-report.d.ts
  apps/client/types/openapi.d.ts
  apps/client/types/typed-router.d.ts
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/server): ✨ let chat questions carry uploaded attachments
  apps/server/prisma/migrations/20261006120000_add_assistant_attachment/migration.sql
  apps/server/prisma/models/assistant.prisma
  apps/server/prisma/models/assistantAttachment.prisma
  apps/server/prisma/models/user.prisma
  apps/server/src/common/defaults/assistant.defaults.spec.ts
  apps/server/src/common/defaults/assistant.defaults.ts
  apps/server/src/common/ragflow/ragflow.service.spec.ts
  apps/server/src/common/ragflow/ragflow.service.ts
  apps/server/src/modules/assistant/assistant.controller.spec.ts
  apps/server/src/modules/assistant/assistant.controller.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.entity.ts
  apps/server/src/modules/assistant/assistant.module.ts
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/assistant/attachment-policy.spec.ts
  apps/server/src/modules/assistant/attachment-policy.ts
  apps/server/src/test-utils/common.mock.ts
  docs/spike-chat-attachment.md
Due: lint-md, lint-js, cspell

feat(@sinopec-kb/client): ✨ attach files to questions on the q&a page
  apps/client/src/api/assistant.ts
  apps/client/src/components/chat/ChatBubble.vue
  apps/client/src/components/chat/ChatMessageList.vue
  apps/client/src/components/chat/ChatPanel.vue
  apps/client/src/composables/index.ts
  apps/client/src/composables/useChat.spec.ts
  apps/client/src/composables/useChat.ts
  apps/client/src/locales/langs/en-US/page/assistant.json
  apps/client/src/locales/langs/zh-CN/page/assistant.json
  apps/client/src/utils/chat-attachment.spec.ts
  apps/client/src/utils/chat-attachment.ts
  apps/client/src/views/qa/index.page.vue
  apps/client/tsconfig.vitest.json
  apps/client/types/openapi-assistant.d.ts
  apps/client/types/openapi.d.ts
Due: lint-vue, lint-js, cspell

fix(@sinopec-kb/server): 🐛 harden chat attachment edge cases from review
  apps/server/src/common/utils/sanitize-filename.spec.ts
  apps/server/src/common/utils/sanitize-filename.ts
  apps/server/src/modules/assistant/assistant.controller.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/assistant/normalize-reference.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 harden chat attachment edge cases from review
  apps/client/src/api/assistant.ts
  apps/client/src/components/chat/ChatBubble.vue
  apps/client/src/composables/useChat.spec.ts
  apps/client/src/composables/useChat.ts
  apps/client/types/openapi-assistant.d.ts
  apps/client/types/openapi.d.ts
Due: lint-vue, lint-js, cspell

chore(@sinopec-kb/server): 🔧 regenerate swagger metadata after rebase
  apps/server/src/metadata.ts
Due: lint-js, cspell

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx,mjs,cjs,mts,cts}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
  cspell: any of: *.{ts,tsx,md}
