Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lefthook.yml:

# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx,mjs,cjs,mts,cts}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: package.json
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'
    cspell:
      run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}
      glob: '*.{ts,tsx,md}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

docs(project): 📝 add entity-anchoring validation-phase design spec
  docs/superpowers/specs/2026-06-23-entity-anchoring-design.md
Due: lint-md, cspell

docs(project): 📝 add entity-anchoring validation-phase implementation plan
  docs/superpowers/plans/2026-06-23-entity-anchoring.md
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ add anchor registry type + fail-fast loader for eval anchoring
  apps/server/scripts/eval/anchoring/anchor-registry.spec.ts
  apps/server/scripts/eval/anchoring/anchor-registry.ts
  apps/server/scripts/eval/configs/anchor-registry.json
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ add detectAnchor most-specific matcher with ambiguity guard
  apps/server/scripts/eval/anchoring/detect-anchor.spec.ts
  apps/server/scripts/eval/anchoring/detect-anchor.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ add anchorQuery keyword-biasing rewrite
  apps/server/scripts/eval/anchoring/anchor-query.spec.ts
  apps/server/scripts/eval/anchoring/anchor-query.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ add resolveDocumentIds filename matcher
  apps/server/scripts/eval/anchoring/resolve-document-ids.spec.ts
  apps/server/scripts/eval/anchoring/resolve-document-ids.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ add applyAnchoring orchestrator (off/rewrite/filter modes)
  apps/server/scripts/eval/anchoring/apply-anchoring.spec.ts
  apps/server/scripts/eval/anchoring/apply-anchoring.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): ✨ wire --anchor off/rewrite/filter into retrieval-replay
  apps/server/scripts/eval/anchoring/resolve-document-ids.ts
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 guard array index access in detectAnchor for noUncheckedIndexedAccess
  apps/server/scripts/eval/anchoring/anchor-registry.spec.ts
  apps/server/scripts/eval/anchoring/detect-anchor.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ add model selector to general chat with agent option
  apps/client/src/views/dashboard/chat.page.vue
Due: lint-vue

fix(@sinopec-kb/server): 🐛 disable reasoning by default for new chat assistants
  .changeset/disable-reasoning-mode-default.md
  apps/server/src/common/defaults/assistant.defaults.ts
Due: lint-md, lint-js, cspell

chore(project): 🔨 ignore .tmp/ and add reentrancy to cspell allowlist
  .gitignore
  cspell.json
Due: none

chore(@sinopec-kb/server): 🔨 add eval README + 2 rerank baseline configs
  apps/server/scripts/eval/README.md
  apps/server/scripts/eval/configs/0520-baseline-rerank.json
  apps/server/scripts/eval/configs/prod-v2-topn10-rerank.json
Due: lint-md, cspell

docs(project): 📝 add June 2026 documentation batch
  docs/architecture.drawio
  docs/docx-preprocess-service-design.md
  docs/monthly-report-2026-05.md
  docs/rag-eval-cross-standard-0522-vs-0607.md
  docs/rag-retrieval-replay-diagnosis-2026-06.md
  docs/rag-system-design.md
  docs/ragflow-dataflow.drawio
  docs/ragflow-pipeline-detailed.drawio
  docs/ragflow-pipeline-detailed.png
  docs/ragflow-rag-qa-notes.md
  docs/samples/docx-preprocess-py/docx_preprocess.py
  docs/samples/docx-preprocess-py/test_docx_preprocess.py
  docs/sinopec-vm-cpu-x86-64-v2-运维处理单.md
  docs/superpowers/plans/2026-06-03-ragflow-dataflow-diagram.md
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ add ChunkTagQueueService background poller
  apps/server/src/common/chunk-tagger/chunk-tag-queue.service.spec.ts
  apps/server/src/common/chunk-tagger/chunk-tag-queue.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-js, cspell

feat(@sinopec-kb/client): ✨ add model selector to general chat with agent option
  apps/client/src/views/dashboard/chat.page.vue
  apps/client/types/components.d.ts
Due: lint-vue, lint-js, cspell

docs: 📝 add retrieval-replay tool spec + plan
  docs/superpowers/plans/2026-06-16-retrieval-replay-tool.md
  docs/superpowers/specs/2026-06-16-retrieval-replay-design.md
Due: lint-md, cspell

test(@sinopec-kb/server): ✅ add retrieval-replay lib skeleton + parseIdList
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add mapChunk with field-alias fallback
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add buildReplayBody
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add truncateContent + isGoldDoc
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add aggregateDocs
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add retrieval-replay main script
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell

test(@sinopec-kb/server): ✅ add renderQuestionSection + renderReport
  apps/server/scripts/eval/retrieval-replay.lib.spec.ts
  apps/server/scripts/eval/retrieval-replay.lib.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 fix eslint-disable header and import order in retrieval-replay.ts
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 fix import order in retrieval-replay.ts
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 fail-fast on invalid --k + document doc_aggs self-aggregation
  apps/server/scripts/eval/retrieval-replay.lib.ts
  apps/server/scripts/eval/retrieval-replay.ts
Due: lint-js, cspell

docs(project): 📝 update retrieval-replay plan + spec post-implementation
  docs/superpowers/plans/2026-06-16-retrieval-replay-tool.md
  docs/superpowers/specs/2026-06-16-retrieval-replay-design.md
Due: lint-md, cspell

docs(project): 📝 add parsing/chunking tech note and update retrieval plans
  docs/sinopec-kb-parsing-and-chunking.md
  docs/superpowers/plans/2026-06-16-retrieval-replay-tool.md
  docs/superpowers/plans/2026-06-23-entity-anchoring.md
  docs/superpowers/specs/2026-06-16-retrieval-replay-design.md
Due: lint-md, cspell

chore(@sinopec-kb/server): 🔨 apply lint autofix to eval anchoring scripts
  apps/server/scripts/eval/anchoring/anchor-registry.ts
  apps/server/scripts/eval/anchoring/apply-anchoring.spec.ts
  apps/server/scripts/eval/anchoring/apply-anchoring.ts
  apps/server/scripts/eval/anchoring/detect-anchor.spec.ts
  apps/server/scripts/eval/anchoring/resolve-document-ids.spec.ts
Due: lint-js, cspell

chore(@sinopec-kb/client): 🔨 regenerate naive-ui auto-import types
  apps/client/types/components.d.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 wire ChunkTaggerModule into KnowledgeBaseModule
  apps/server/src/modules/knowledge-base/knowledge-base.module.ts
Due: lint-js, cspell

docs(project): 📝 record ragflow XinferenceEmbed 6k truncate patch
  docs/ragflow-xinference-embed-truncate-patch-2026-07.md
Due: lint-md, cspell

fix(@sinopec-kb/client): 🐛 show all assistants by raising list pageSize
  apps/client/src/views/assistant/index.page.vue
Due: lint-vue

feat(@sinopec-kb/client): ✨ improve SSE streaming for chat
  apps/client/src/composables/useChat.ts
  apps/client/src/composables/useSSEStream.spec.ts
  apps/client/src/composables/useSSEStream.ts
Due: lint-js, cspell

refactor(@sinopec-kb/server): ♻️ adjust chunk tagger service
  apps/server/src/common/chunk-tagger/chunk-tagger.service.spec.ts
  apps/server/src/common/chunk-tagger/chunk-tagger.service.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 qualify model refs with instance name
  apps/server/src/common/ragflow/ragflow.service.spec.ts
  apps/server/src/common/ragflow/ragflow.service.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 load assistants dynamically on chat page
  apps/client/src/views/dashboard/chat.page.vue
Due: lint-vue

feat(@sinopec-kb/server): ✨ add three-tier sharing for kb and assistants
  apps/client/src/locales/langs/en-US/page/assistant.json
  apps/client/src/locales/langs/en-US/page/knowledgeBase.json
  apps/client/src/locales/langs/zh-CN/page/assistant.json
  apps/client/src/locales/langs/zh-CN/page/knowledgeBase.json
  apps/client/src/views/assistant/index.page.vue
  apps/client/src/views/knowledgeBase/index.page.vue
  apps/client/types/openapi-assistant.d.ts
  apps/client/types/openapi-knowledge-base.d.ts
  apps/client/types/openapi.d.ts
  apps/server/prisma/migrations/20260829044844_add_assistant_sharing/migration.sql
  apps/server/prisma/migrations/20260829044856_kb_dept_restrict_cascade_delete/migration.sql
  apps/server/prisma/models/assistant.prisma
  apps/server/prisma/models/dept.prisma
  apps/server/prisma/models/knowledgeBase.prisma
  apps/server/prisma/models/user.prisma
  apps/server/src/metadata.ts
  apps/server/src/modules/assistant/assistant.controller.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.entity.ts
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/auth/authorization/resource-visibility.spec.ts
  apps/server/src/modules/auth/authorization/resource-visibility.ts
  apps/server/src/modules/knowledge-base/knowledge-base.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-vue, lint-js, cspell
