Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

cspell:
  run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}

chore(@sinopec-kb/client): 🔨 replace logo and favicon with sinopec brand mark
  apps/client/public/favicon.ico
  apps/client/src/assets/logo.png
Due: none

feat(@sinopec-kb/server): ✨ add normalize-reference helper for RAGFlow sessions
  apps/server/src/modules/assistant/normalize-reference.spec.ts
  apps/server/src/modules/assistant/normalize-reference.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 normalize RAGFlow per-message reference into { chunks, doc_aggs }
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/test-utils/common.mock.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 stop forcing LLM to emit empty-response sentence in KB prompt
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-js, cspell

chore(@sinopec-kb/server): 🔨 add changesets for citation normalize & prompt cleanup
  .changeset/fix-citation-reference-normalize.md
  .changeset/strip-empty-response-rule-from-prompt.md
Due: lint-md, cspell

docs: 📝 add implementation plan for citation reference normalize & prompt cleanup
  docs/superpowers/plans/2026-05-05-fix-citation-and-empty-response.md
Due: lint-md, cspell

fix(@sinopec-kb/server): 🐛 restore citation popover for chat history & stop empty-response pollution (#10)
  .changeset/fix-citation-reference-normalize.md
  .changeset/strip-empty-response-rule-from-prompt.md
  apps/client/public/favicon.ico
  apps/client/src/assets/logo.png
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/assistant/normalize-reference.spec.ts
  apps/server/src/modules/assistant/normalize-reference.ts
  apps/server/src/test-utils/common.mock.ts
  docs/superpowers/plans/2026-05-05-fix-citation-and-empty-response.md
Due: lint-md, lint-js, cspell

fix: 🐛 drop opener reference & give user avatar white background
  .changeset/drop-opener-reference-and-fix-user-avatar.md
  apps/client/src/components/chat/ChatBubble.vue
  apps/server/src/modules/assistant/normalize-reference.spec.ts
  apps/server/src/modules/assistant/normalize-reference.ts
Due: lint-md, lint-vue, lint-js, cspell

fix: 🐛 drop opener reference & give user avatar white background (#11)
  .changeset/drop-opener-reference-and-fix-user-avatar.md
  apps/client/src/components/chat/ChatBubble.vue
  apps/server/src/modules/assistant/normalize-reference.spec.ts
  apps/server/src/modules/assistant/normalize-reference.ts
Due: lint-md, lint-vue, lint-js, cspell

fix(@sinopec-kb/client): 🐛 toRaw before structuredClone to attach SSE reference to message
  .changeset/fix-sse-reference-clone-vue-proxy.md
  apps/client/src/composables/useChat.ts
Due: lint-md, lint-js, cspell

fix(@sinopec-kb/client): 🐛 toRaw before structuredClone to attach SSE reference (#12)
  .changeset/fix-sse-reference-clone-vue-proxy.md
  apps/client/src/composables/useChat.ts
Due: lint-md, lint-js, cspell

fix(@sinopec-kb/server): 🐛 shift RAGFlow reference forward to fix off-by-one merge bug
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/normalize-reference.spec.ts
  apps/server/src/modules/assistant/normalize-reference.ts
Due: lint-js, cspell

chore(@sinopec-kb/server): 🔨 add changeset for RAGFlow reference shift fix
  .changeset/fix-ragflow-reference-shift.md
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ 新增分块方式字典种子 + 幂等同步
  .changeset/seed-chunk-method-dict.md
  apps/server/src/modules/seed/seed.data.ts
  apps/server/src/modules/seed/seed.service.ts
Due: lint-md, lint-js, cspell

refactor(@sinopec-kb/client): ♻️ 分块方式下拉改字典驱动 + 修复字段名 bug
  .changeset/chunk-method-dict-driven.md
  apps/client/src/locales/langs/en-US/page/knowledgeBase.json
  apps/client/src/locales/langs/zh-CN/page/knowledgeBase.json
  apps/client/src/views/knowledgeBase/index.page.vue
Due: lint-md, lint-vue, cspell

fix(@sinopec-kb/server): 🐛 shift RAGFlow reference to fix off-by-one merge (#13)
  .changeset/fix-ragflow-reference-shift.md
  apps/server/src/modules/assistant/assistant.service.spec.ts
  apps/server/src/modules/assistant/normalize-reference.spec.ts
  apps/server/src/modules/assistant/normalize-reference.ts
Due: lint-md, lint-js, cspell

fix(@sinopec-kb/client): 🐛 align KB form parserConfig path with DTO field name
  .changeset/parser-config-form-field-name.md
  apps/client/src/views/knowledgeBase/index.page.vue
Due: lint-md, lint-vue, cspell

chore(dev): 🔨 add Playwright UI E2E for KB chunk-method comparison
  apps/client/.env.example
  apps/client/e2e/fixtures/.gitignore
  apps/client/e2e/fixtures/README.md
  apps/client/e2e/kb-manual-comparison.spec.ts
  apps/client/e2e/probe-kb-form.spec.ts
  apps/client/package.json
  apps/client/playwright.prod.config.ts
  apps/server/scripts/eval/compare-naive-manual.py
  apps/server/scripts/eval/compare-naive-manual.sh
  pnpm-lock.yaml
  turbo.json
Due: lint-md, lint-js, cspell

fix(@sinopec-kb/client): 🐛 align KB form parserConfig path with DTO field name (#15)
  .changeset/parser-config-form-field-name.md
  apps/client/src/views/knowledgeBase/index.page.vue
Due: lint-md, lint-vue, cspell

chore(dev): 🔨 add Playwright UI E2E for KB chunk-method comparison (#14)
  apps/client/.env.example
  apps/client/e2e/fixtures/.gitignore
  apps/client/e2e/fixtures/README.md
  apps/client/e2e/kb-manual-comparison.spec.ts
  apps/client/e2e/probe-kb-form.spec.ts
  apps/client/package.json
  apps/client/playwright.prod.config.ts
  apps/server/scripts/eval/compare-naive-manual.py
  apps/server/scripts/eval/compare-naive-manual.sh
  pnpm-lock.yaml
  turbo.json
Due: lint-md, lint-js, cspell

fix(@sinopec-kb/server): 🐛 align eval Q9/Q18 ground truth with docx-actual content
  .changeset/fix-eval-q9-q18-ground-truth.md
  apps/server/scripts/eval/dataset/questions.json
Due: lint-md, cspell

fix(@sinopec-kb/server): 🐛 align eval Q9/Q18 ground truth with docx-actual content (#16)
  .changeset/fix-eval-q9-q18-ground-truth.md
  apps/server/scripts/eval/dataset/questions.json
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ preprocess docx via pandoc on upload
  .changeset/feat-docx-preprocess.md
  Dockerfile
  apps/server/src/common/docx-preprocess/docx-preprocess.module.ts
  apps/server/src/common/docx-preprocess/docx-preprocess.service.spec.ts
  apps/server/src/common/docx-preprocess/docx-preprocess.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.module.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-md, lint-js, cspell

feat(@sinopec-kb/server): ✨ preprocess docx via pandoc on upload (#17)
  .changeset/feat-docx-preprocess.md
  Dockerfile
  apps/server/src/common/docx-preprocess/docx-preprocess.module.ts
  apps/server/src/common/docx-preprocess/docx-preprocess.service.spec.ts
  apps/server/src/common/docx-preprocess/docx-preprocess.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.module.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-md, lint-js, cspell

chore(@sinopec-kb/server): 🔨 eval iteration after docx→md migration
  .changeset/eval-postmigration-iteration.md
  apps/server/scripts/eval/configs/prod-v2-after-reparse.json
  apps/server/scripts/eval/configs/prod-v2-postmigration.json
  apps/server/scripts/eval/configs/prod-v2-topn10.json
  apps/server/scripts/eval/dataset/questions.json
Due: lint-md, cspell

chore(@sinopec-kb/server): 🔨 eval iteration after docx→md migration (#18)
  .changeset/eval-postmigration-iteration.md
  apps/server/scripts/eval/configs/prod-v2-after-reparse.json
  apps/server/scripts/eval/configs/prod-v2-postmigration.json
  apps/server/scripts/eval/configs/prod-v2-topn10.json
  apps/server/scripts/eval/dataset/questions.json
Due: lint-md, cspell

chore(@sinopec-kb/server): 🔨 升级 prod-v2 baseline top_n 6→10
  .changeset/eval-prod-v2-topn-10-baseline.md
  apps/server/scripts/eval/configs/prod-v2.json
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ stage Q14 prompt disambiguation draft + ops sync script
  .changeset/q14-prompt-disambiguation.md
  apps/server/scripts/migrate/q14-disambiguation-prompt.md
  apps/server/scripts/migrate/update-prod-assistant-prompt.sh
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ average LLM judge over N replicas to denoise
  .changeset/eval-judge-replicas.md
  apps/server/scripts/eval/judge.spec.ts
  apps/server/scripts/eval/judge.ts
  apps/server/scripts/eval/run.ts
Due: lint-md, lint-js, cspell

feat(@sinopec-kb/server): ✨ average LLM judge over N replicas to denoise (#21)
  .changeset/eval-judge-replicas.md
  apps/server/scripts/eval/judge.spec.ts
  apps/server/scripts/eval/judge.ts
  apps/server/scripts/eval/run.ts
Due: lint-md, lint-js, cspell

chore(@sinopec-kb/server): 🔨 升级 prod-v2 baseline top_n 6→10 (#19)
  .changeset/eval-prod-v2-topn-10-baseline.md
  apps/server/scripts/eval/configs/prod-v2.json
Due: lint-md, cspell

feat(@sinopec-kb/server): ✨ stage Q14 prompt disambiguation draft + ops sync script (#20)
  .changeset/q14-prompt-disambiguation.md
  apps/server/scripts/migrate/q14-disambiguation-prompt.md
  apps/server/scripts/migrate/update-prod-assistant-prompt.sh
Due: lint-md, cspell

fix(@sinopec-kb/server): 🐛 align Q14 ground truth with docx-actual content
  .changeset/eval-q14-ground-truth.md
  apps/server/scripts/eval/dataset/questions.json
Due: lint-md, cspell

fix(@sinopec-kb/server): 🐛 align Q14 ground truth with docx-actual content (#22)
  .changeset/eval-q14-ground-truth.md
  apps/server/scripts/eval/dataset/questions.json
Due: lint-md, cspell

chore(@sinopec-kb/server): 🔨 add chat-eval-all-questions e2e via business API
  .changeset/chat-eval-business-api-e2e.md
  apps/client/e2e/chat-eval-all-questions.spec.ts
  turbo.json
Due: lint-md, lint-js, cspell

chore(@sinopec-kb/server): 🔨 add chat-eval-all-questions e2e via business API (#23)
  .changeset/chat-eval-business-api-e2e.md
  apps/client/e2e/chat-eval-all-questions.spec.ts
  turbo.json
Due: lint-md, lint-js, cspell

feat(@sinopec-kb/server): ✨ seal sinopec-tuned assistant + KB defaults
  .changeset/sinopec-defaults.md
  apps/server/src/common/defaults/assistant.defaults.ts
  apps/server/src/common/defaults/knowledge-base.defaults.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
  turbo.json
Due: lint-md, lint-js, cspell

feat(@sinopec-kb/server): ✨ seal sinopec-tuned assistant + KB defaults (#24)
  .changeset/sinopec-defaults.md
  apps/server/src/common/defaults/assistant.defaults.ts
  apps/server/src/common/defaults/knowledge-base.defaults.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
  turbo.json
Due: lint-md, lint-js, cspell

chore(@sinopec-kb/server): 🔨 align eval test-docs paths to 0420 subdir
  apps/server/scripts/eval/dataset/questions.json
  apps/server/scripts/eval/import-questions.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 fix bare-number false positives in eval scoring
  apps/server/scripts/eval/_rescore.ts
  apps/server/scripts/eval/scoring.spec.ts
  apps/server/scripts/eval/scoring.ts
Due: lint-js, cspell

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx,mjs,cjs,mts,cts}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
  cspell: any of: *.{ts,tsx,md}
