Repository Mask-MJ/sinopec-knowledge-base: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-package, lint-json, cspell

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

cspell:
  run: pnpm cspell lint --no-progress --no-must-find-files {staged_files}

fix: remove !override syntax for Docker Compose compatibility
  docker-compose.yaml
Due: none

fix: use direct path for prisma CLI in entrypoint
  docker/entrypoint.sh
Due: none

fix: include prisma CLI with full dependency tree in Docker image
  Dockerfile
Due: none

chore: add database seed data for production deployment
  docker/seed.sql
Due: none

fix: auto-sync frontend assets to shared volume on app startup
  Dockerfile
  docker-compose.yaml
  docker/entrypoint.sh
Due: none

feat(@sinopec-kb/server): add default values for model names
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
Due: lint-js, cspell

chore(@sinopec-kb/server): regenerate swagger metadata
  apps/server/src/metadata.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): refactor assistant RAGFlow integration and add general assistant
  apps/server/prisma/migrations/20260407055914_add_assistant_is_general/migration.sql
  apps/server/prisma/models/assistant.prisma
  apps/server/src/modules/assistant/assistant.controller.ts
  apps/server/src/modules/assistant/assistant.dto.ts
  apps/server/src/modules/assistant/assistant.entity.ts
  apps/server/src/modules/assistant/assistant.module.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/system/system.module.ts
  apps/server/src/modules/system/user/user.service.ts
Due: lint-js, cspell

feat(@sinopec-kb/server): add LLM list endpoint and enhance document management
  apps/server/src/common/ragflow/ragflow.service.ts
  apps/server/src/common/utils/sanitize-filename.ts
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
  apps/server/src/modules/knowledge-base/knowledge-base.dto.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
  cspell.json
Due: lint-js, cspell

feat(@sinopec-kb/client): enhance knowledge base detail with upload, parse and status
  apps/client/src/api/knowledgeBase.ts
  apps/client/src/locales/langs/en-US/page/knowledgeBase.json
  apps/client/src/locales/langs/zh-CN/page/knowledgeBase.json
  apps/client/src/views/knowledgeBase/detail/[id].page.vue
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/client): enhance assistant pages with model/kb selection
  apps/client/src/api/assistant.ts
  apps/client/src/composables/index.ts
  apps/client/src/composables/useKnowledgeBaseOptions.ts
  apps/client/src/composables/useLlmOptions.ts
  apps/client/src/locales/langs/en-US/page/assistant.json
  apps/client/src/locales/langs/zh-CN/page/assistant.json
  apps/client/src/views/assistant/chat/[id].page.vue
  apps/client/src/views/assistant/index.page.vue
  apps/client/src/views/dashboard/chat.page.vue
  apps/client/src/views/knowledgeBase/index.page.vue
Due: lint-vue, lint-js, cspell

fix(@sinopec-kb/client): improve chat streaming and KeepAlive handling
  apps/client/src/components/chat/ChatBubble.vue
  apps/client/src/components/chat/ChatSidebar.vue
  apps/client/src/composables/useChat.ts
  apps/client/src/composables/useSSEStream.ts
Due: lint-vue, lint-js, cspell

perf(@sinopec-kb/client): optimize icon safelist and Vite dep pre-bundling
  apps/client/uno.config.ts
  cspell.json
  internal/vite-config/src/config/application.ts
Due: lint-js, cspell

chore: regenerate openapi types and swagger metadata
  apps/client/types/components.d.ts
  apps/client/types/openapi.d.ts
  apps/server/src/metadata.ts
Due: lint-js, cspell

docs: add RAGFlow HTTP API reference
  docs/http_api_reference.md
Due: lint-md, cspell

style: apply lint auto-formatting across modified files
  apps/client/src/api/knowledgeBase.ts
  apps/client/src/composables/index.ts
  apps/client/src/composables/useChat.ts
  apps/client/src/composables/useLlmOptions.ts
  apps/client/src/views/assistant/index.page.vue
  apps/client/src/views/knowledgeBase/index.page.vue
  apps/server/src/modules/assistant/assistant.controller.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.service.ts
  apps/server/src/modules/system/system.module.ts
  apps/server/src/modules/system/user/user.service.ts
  docs/http_api_reference.md
Due: lint-md, lint-vue, lint-js, cspell

feat(@sinopec-kb/client): add citation reference tracing for RAGFlow responses
  apps/client/src/components/chat/ChatBubble.vue
  apps/client/src/components/chat/ChatMessageList.vue
  apps/client/src/components/chat/CitationPopover.vue
  apps/client/src/components/chat/ReferenceSourceList.vue
  apps/client/src/composables/index.ts
  apps/client/src/composables/useChat.ts
  apps/client/src/composables/useCitationRenderer.ts
  apps/client/src/composables/useSSEStream.ts
  apps/client/src/locales/langs/en-US/page/assistant.json
  apps/client/src/locales/langs/zh-CN/page/assistant.json
  apps/client/types/components.d.ts
  cspell.json
Due: lint-vue, lint-js, cspell

style(@sinopec-kb/client): apply lint auto-formatting on citation composables
  apps/client/src/composables/useChat.ts
  apps/client/src/composables/useCitationRenderer.ts
Due: lint-js, cspell

fix: correct RAGFlow API method, route order, and add noDescription i18n
  apps/client/src/locales/langs/en-US/common.json
  apps/client/src/locales/langs/zh-CN/common.json
  apps/server/src/metadata.ts
  apps/server/src/modules/assistant/assistant.service.ts
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
Due: lint-js, cspell

chore: regenerate metadata after route reorder
  apps/server/src/metadata.ts
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
Due: lint-js, cspell

fix: extract LLM route to separate controller to fix SWC decorator order
  apps/server/src/metadata.ts
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
  apps/server/src/modules/knowledge-base/knowledge-base.module.ts
  apps/server/src/modules/knowledge-base/llm.controller.ts
Due: lint-js, cspell

chore(project): rename application to 物探大模型
  apps/client/index.html
  apps/client/src/components/common/Copyright.vue
  apps/client/src/config/preferences/config.ts
  apps/client/src/locales/langs/zh-CN/authentication.json
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/utils/env.ts
Due: lint-vue, lint-js, cspell

feat(@sinopec-kb/server): make assistant default model configurable
  .changeset/configurable-assistant-default-model.md
  apps/server/src/common/config/env.validation.ts
  apps/server/src/metadata.ts
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-md, lint-js, cspell

fix(@sinopec-kb/server): align seed permissions and harden admin password
  .changeset/fix-seed-permissions-and-admin-password.md
  apps/server/src/modules/seed/seed.data.ts
  apps/server/src/modules/seed/seed.module.ts
  apps/server/src/modules/seed/seed.service.ts
Due: lint-md, lint-js, cspell

style(@sinopec-kb/server): reorder env vars alphabetically per eslint
  apps/server/src/common/config/env.validation.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 realign menu permissions for deployed databases
  .changeset/realign-menu-permissions-and-add-chat-buttons.md
  apps/server/prisma/migrations/20260503211139_realign_menu_permissions_and_add_chat_buttons/migration.sql
Due: lint-md, cspell

fix(@sinopec-kb/server): 🐛 expose RAGFlow reference field in session message schema
  .changeset/expose-reference-in-session-schema.md
  apps/client/types/openapi.d.ts
  apps/server/src/metadata.ts
  apps/server/src/modules/assistant/assistant.entity.ts
Due: lint-md, lint-js, cspell

fix(@sinopec-kb/client): 🐛 preserve citation reference when restoring chat history
  .changeset/preserve-citation-reference-in-history.md
  apps/client/src/components/chat/ChatPanel.vue
  apps/client/src/components/chat/CitationPopover.vue
  apps/client/src/composables/useChat.ts
  apps/client/src/locales/langs/en-US/page/assistant.json
  apps/client/src/locales/langs/zh-CN/page/assistant.json
Due: lint-md, lint-vue, lint-js, cspell

chore: 🔨 ignore eval/test artifacts and raise nginx upload limit
  .gitignore
  apps/server/src/metadata.ts
  apps/server/src/modules/knowledge-base/knowledge-base.controller.ts
  docker/nginx/default.conf
Due: lint-js, cspell

chore(@sinopec-kb/server): 🔨 add RAG evaluation harness
  apps/server/scripts/eval/.env.eval.example
  apps/server/scripts/eval/.gitignore
  apps/server/scripts/eval/configs/A0-baseline.json
  apps/server/scripts/eval/configs/A0-baseline.json.example
  apps/server/scripts/eval/configs/A1-topk-256.json
  apps/server/scripts/eval/configs/A2-thr-035.json
  apps/server/scripts/eval/configs/A3-weight-03.json
  apps/server/scripts/eval/configs/A4-weight-05.json
  apps/server/scripts/eval/configs/A5-keyword-on.json
  apps/server/scripts/eval/configs/A6-combo-B2-keyword.json
  apps/server/scripts/eval/configs/B1-baseline.json
  apps/server/scripts/eval/configs/B2-keywords.json
  apps/server/scripts/eval/configs/B3-largechunk.json
  apps/server/scripts/eval/configs/prod-v2.json
  apps/server/scripts/eval/configs/winner-holdout.json
  apps/server/scripts/eval/dataset/questions.json
  apps/server/scripts/eval/import-questions.ts
  apps/server/scripts/eval/run.ts
  apps/server/scripts/eval/scoring.spec.ts
  apps/server/scripts/eval/scoring.ts
  cspell.json
Due: lint-js, cspell

style(@sinopec-kb/server): 💄 prune unused eslint-disable directives in eval
  apps/server/scripts/eval/import-questions.ts
  apps/server/scripts/eval/run.ts
  apps/server/scripts/eval/scoring.spec.ts
  apps/server/scripts/eval/scoring.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 preserve prompt and llm config when syncing eval assistant
  apps/server/scripts/eval/run.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 unblock prod build by excluding eval scripts and fixing stale field
  apps/server/scripts/eval/run.ts
  apps/server/tsconfig.build.json
Due: lint-js, cspell

fix(deploy): 🐛 disable nginx buffering on /api/ for SSE streams
  docker/nginx/default.conf
Due: none

fix(@sinopec-kb/client): 🐛 use MutationObserver to render citation chips
  apps/client/src/components/chat/ChatBubble.vue
Due: lint-vue

fix(@sinopec-kb/server): 🐛 transparently pipe RAGFlow SSE without Transform layer
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-js, cspell

fix(@sinopec-kb/client): 🐛 flush trailing buffer when SSE stream closes
  apps/client/src/composables/useSSEStream.spec.ts
  apps/client/src/composables/useSSEStream.ts
Due: lint-js, cspell

style(@sinopec-kb/client): 💄 reflow useSSEStream per prettier
  apps/client/src/composables/useSSEStream.spec.ts
  apps/client/src/composables/useSSEStream.ts
Due: lint-js, cspell

fix(@sinopec-kb/server): 🐛 strengthen default KB prompt for sinopec exploration reports
  apps/server/src/modules/assistant/assistant.service.ts
Due: lint-js, cspell

chore(@sinopec-kb/server): 🔨 add eval config for prod 测试 2 chat assistant
  apps/server/scripts/eval/configs/prod-test2.json
Due: none

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx,mjs,cjs,mts,cts}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
  cspell: any of: *.{ts,tsx,md}
